*{
    margin: 0;
    padding: 0;
    font-family: 'Rawline', sans-serif;
    text-align: center;
}

ul{
    list-style: none;
}

li{
    text-decoration: underline;
    display: inline-flex;
    margin: 0.5rem;
    font-size: 1.5rem;
}

main, footer{
    min-width: 600px;
    margin-top: 3rem;
}


/* UTILS */
.container{
    min-width: 600px;
    height: 5rem;
    padding: 1rem;
    background-color: gray;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.container-card{
    min-width: 600px;
    margin-top: 3rem;
    padding: 1rem;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.card{
    background-color: gray;
    border-radius: 2rem;
    box-shadow: 10px 10px 8px #888888;
    color: whitesmoke;
    margin: 1rem;
    padding: 1rem;
}

.container-info{
    min-width: 600px;
    margin-top: 3rem;
    padding: 1rem;
    height: 15rem;
    background-color: gray;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}